[submodule "private"]
	path = private
	url = git@github.com:manuelthieme/dotfiles_private.git
[submodule ".zsh/zsh-git-prompt"]
	path = .zsh/zsh-git-prompt
	url = git@github.com:manuelthieme/zsh-git-prompt.git
